$black: #242039;
$darkblue: #0C1C47;
$teal: #189bb0;
$darkteal: #316677;
$pink: #AB035C;
$darkpurple: #6B1C40;
$green: #96BE3C;
$coolgray: #D4D4D4;
$gradient: linear-gradient(to left, #AF1C63, #002554);

.copy-darkblue {
  color: $darkblue !important;
}

.copy-teal {
  color: $teal !important;
}

.copy-darkteal {
  color: $darkteal !important;
}

.copy-pink {
  color: $pink !important;
}

.bg-darkblue {
  background: $darkblue !important;
}

.bg-teal {
  background: $teal !important;
}

.bg-darkteal {
  background: $darkteal !important;
}

.bg-pink {
  background: $pink !important;
}

.bg-gradient {
  background: $gradient !important;
}

.bg-darkpuple {
  background: $darkpurple !important;
}

.bg-green {
  background: $green !important;
}

.bg-coolgray {
  background: $coolgray !important;
}
