@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);

@font-face {
  font-family: SourceSansPro-Regular;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-SemiboldItalic;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-SemiboldItalic.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-SemiboldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Black;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Regular.ttf");
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Bold.ttf");
  src: url("https://www2.arccorp.com/static/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Light;
  src: url("https://www2.arccorp.com/globalassets/style/fonts/robotoslab-light.ttf");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/robotoslab-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-Light.ttf");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-SemiBold.ttf");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("https://www2.arccorp.com/globalassets/style/fonts/icomoon.eot?3p9rfk");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/icomoon.eot?3p9rfk#iefix") format("embedded-opentype"), url("https://www2.arccorp.com/globalassets/style/fonts/icomoon.ttf?3p9rfk") format("truetype"), url("https://www2.arccorp.com/globalassets/style/fonts/icomoon.woff?3p9rfk") format("woff"), url("https://www2.arccorp.com/globalassets/style/fonts/icomoon.svg?3p9rfk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
